
/* 文章 */
.entry { 
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0 16px;
	line-height: 2;
	color: #424b50;
	word-wrap: break-word;
	font-size: 16px;
	font-family: ff-tisa-web-pro-1, ff-tisa-web-pro-2, "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "wenquanyi micro hei", sans-serif, "Apple Color Emoji";
	-webkit-font-smoothing: antialiased; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
.entry article,  
.entry div, 
.entry figure, 
.entry footer, 
.entry header, 
.entry ol, 
.entry p, 
.entry pre, 
.entry section, 
.entry table, 
.entry ul { 
	margin: 0;
	padding: 0;
	margin-top: 16px;
	margin-bottom: 16px;
}

.entry article :first-child, 
.entry blockquote :first-child,
.entry div :first-child,
.entry figure :first-child,
.entry footer :first-child,
.entry header :first-child,
.entry ol :first-child,
.entry p :first-child,
.entry pre :first-child,
.entry section :first-child,
.entry table :first-child,
.entry ul :first-child { 
	margin-top: 0;
}

.entry article :last-child,
.entry blockquote :last-child,
.entry div :last-child,
.entry figure :last-child,
.entry footer :last-child,
.entry header :last-child,
.entry ol :last-child,
.entry p :last-child,
.entry pre:last-child,
.entry section :last-child,
.entry table :last-child,
.entry ul :last-child {
	margin-bottom: 0;
}

.entry ol article, 
.entry ol blockquote, 
.entry ol div, 
.entry ol figure, 
.entry ol footer, 
.entry ol header, 
.entry ol iframe, 
.entry ol ol, 
.entry ol p, 
.entry ol pre, 
.entry ol section, 
.entry ol table, 
.entry ol ul, 
.entry ul article, 
.entry ul blockquote, 
.entry ul div, 
.entry ul figure, 
.entry ul footer, 
.entry ul header, 
.entry ul iframe, 
.entry ul ol, 
.entry ul p, 
.entry ul pre, 
.entry ul section, 
.entry ul table, 
.entry ul ul { 
	margin-top: 0; 
	margin-bottom: 0;
}

.entry > iframe { 
	display: block; 
	margin-top: 16px; 
	margin-bottom :16px;
}

.entry > img, 
.entry > video { 
	width: 100%;
	margin-top: 16px; 
	margin-bottom: 16px;
	display: block; 
}


.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 { 
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}
.entry h1 :first-child,
.entry h2 :first-child,
.entry h3 :first-child,
.entry h4 :first-child,
.entry h5 :first-child,
.entry h6 :first-child {
	margin-top: 0;
}

.entry > h3,
.entry > h4,
.entry > h5,
.entry > h6 { 
	margin-top: 32px;
}

.entry > h3+*,
.entry > h4+*,
.entry > h5+*,
.entry > h6+* { 
	margin-top: 0;
}

.entry > h1,
.entry > h2 {
	margin: 24px 0 5px;
}

.entry > h1+*,
.entry > h2+* { 
	margin-top:0;
}

.entry h1, 
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6 { 
	font-weight: inherit;
}

.entry h1, 
.entry h2 { 
	color: #424b50;
	background-color: transparent;
}

.entry h1 a,
.entry h2 a {
	color: #424b50;
}

.entry h1 a,
.entry h1 abbr[title],
.entry h1 em,
.entry h1 u,
.entry h2 a,
.entry h2 abbr[title],
.entry h2 em,
.entry h2 u { 
	border-bottom-color: #424b50;
}

.entry h3 a,
.entry h4 a,
.entry h5 a,
.entry h6 a { 
	color: #424b50;
	border-bottom-color: #424b50;
}

.entry h1 { 
	font-size: 28px;
	line-height: 48px;
	text-align: center;
	font-weight: 700;
}
.entry h2 { 
	font-size: 21px;
	line-height: 32px;
	font-weight: 700;
}
.entry h3 { 
	font-size: 18px;
	line-height: 32px;
	text-align: left;
}
.entry h4,
.entry h5,
.entry h6 { 
	line-height: 32px;
	font-size: 16px;
	text-align: left;
}
.entry a {
	color: #D03B19;
}
.entry blockquote {
	margin: 20px 0;
	font-size: 14px;
	border-left: 5px solid #D03B19;
}
.entry span.hlt {
    padding: 0 .25em;
    margin: 0 .25em;
    background: #fee9cc;
    font-family: consolas,monaco,monospace,serif;
    font-size: 16px;
    color: #424b50;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -ms-border-radius: .25em;
    -o-border-radius: .25em;
    border-radius: .25em;
}

/* 布局 */
html {
	font-size: 16px;
}
body {
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 1.6;
	color: #4e4e4e;
	background-color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}
a:focus {
	outline: none;
}

/* 全局 */
.clr {
	clear: both;
}
.valign-center {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.mgrtop-10 {
	margin-top: 10px !important;
}

/* 导航 */
.navbar-header {
	margin-top: 6px;
}
.nav > li {
	display: inline-block;
}
.navbar-custom {
	border: 0;
	margin: 0;
	padding-top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.navbar-custom .navbar-nav li {
	margin: 0;
}
.navbar-custom .navbar-nav > li > a {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	font-family: 'Microsoft YaHei';
	border-bottom: 1px solid transparent;
}
.navbar-custom .navbar-nav > li > a:focus, 
.navbar-custom .navbar-nav > li > a:hover {
	background-color: transparent;
	border-color: #d03b19;
}
.navbar-custom .navbar-nav > .active > a {
	border-color: #d03b19;
}
.navbar-toggle {
	border: 0;
	border-radius: 0;
	margin-top: 2px;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-nav {
    margin: 0 -15px;
}
.navbar-solid {
	background-color: rgba(0, 0, 0, 0.8) !important;
	padding: 0 !important;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.site-brand {
	float: left;
	margin-top: 0;
	margin-left: 10px;
}
.site-brand a {
	font-size: 20px;
	font-family: 'Microsoft YaHei';
	color: #FFF;
}
.site-brand a:focus, 
.site-brand a:hover {
	text-decoration: none;
}
.site-brand img {
	width: 50px;
}
@media (min-width: 768px) {
	.navbar-custom {
		background-color: transparent;
		padding-top: 30px;
	}
	.site-brand {
		margin-top: 6px;
		margin-left: 0;
	}
	.site-brand img {
		position: relative;
		top: -4px;
	}
	.nav > li {
		display: block;
	}
	.site-header .intro h2 {
		font-size: 36px !important;
	}
}

/* 页脚 */
.site-footer {
	background-color: #F2F2F2;
	color: #FFF;
	text-align: center;
	padding: 5px 0;
}
.site-footer img {
	width: 50px;
}
.site-footer p {
	margin: 8px 0;
	padding: 5px 0 2px;
	border-top: 1px solid #e3e3e3;
	color: #bdbdb7;
	font-family: 'Microsoft YaHei';
	font-size: 12px;
}
.site-footer p span {
	font-size: 14px;
}

/* 框架-首页/分类/文章 */
.main {
	position: relative;
}

/* 首页欢迎图 */
.site-header {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	position: relative;
	text-align: center;
	background: url(http://7xr2ee.com1.z0.glb.clouddn.com/javascript%2Ftest.jpg) no-repeat center center/cover;
}
.site-header::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.site-header .intro {
	width: 100%;
	padding: 0 15px;
	position: relative;
	text-align: center;
	color: #FFF;
	font-family: 'Microsoft YaHei';
	z-index: 1;
}
.site-header .intro h2 {
	margin-top: 0px;
	font-size: 25px;
	font-weight: 500;
}
.site-header .intro p {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 500;
}

/* 首页文章列表 */
.list {
	max-width: 1100px;
	margin: 80px auto;
	font-family: 'Microsoft YaHei';
}
.list .headline {
	font-size: 30px;
	font-weight: 700;
	color: #D03B19;
	border-bottom: 1px dotted #C8C8C8;
}
.list .item {
	width: 70%;
	float: left;
	padding: 8px;
}
.list .item a {
	text-decoration: none;
	font-size: 20px;
	color: #000;
}
.list .item a:hover {
	text-decoration: none;
}
.list .item span {
    padding: 1px 8px;
	font-size: 14px;
    border-radius: 4px;
    color: #FFF;
    background-color: #D03B19;
}
.list .date {
	width: 90px;
    float: right;
    padding: 14px 8px 0 0;
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    color: #D5D5D5;
}

/* 页码 */
.pages {
    margin: 40px 0;
    padding: 0;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.pages a {
	text-decoration: none;
}
.pages a:hover {
	border: 1px solid #000;
}
.pages > li {
	margin: 0;
	display: inline-block;
}
.pages > li > a,
.pages > li > span {
	padding: 3px 10px;
	color: #000;
	border: 1px solid #C8C8C8;
}
.pages .selected {
	color: #FFF;
	border: 1px solid #000;
	background-color: #000;
}

/* 文章正文 */
.cnt-wrap {
	max-width: 1100px;
	margin: 80px auto;
}
.cnt-wrap .tlt {
	line-height: 32px;
	font-size: 21px;
	font-weight: 700;
	font-family: 'Microsoft YaHei';
	color: #424b50;
}
.cnt-wrap .cate {
	padding: 0 0 20px 0;
	font-style: italic;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Microsoft YaHei';
	color: #D5D5D5;
}
.cnt-wrap .cate a {
	padding: 1px 8px;
	font-size: 14px;
	font-style: normal;
	font-family: 'Microsoft YaHei';
	border-radius: 4px;
	color: #FFF;
	background-color: #D03B19;
	text-decoration: none;
}

/* 分类 */
.tags-ul {
	max-width: 1100px;
	margin: 80px auto;
	list-style: none;
}
.tags-ul li {
	display: inline-block;
	margin: 15px;
}
.tags-ul li a {
	color: #000;
	font-family: 'Microsoft YaHei';
	font-size: 24px;
}


/* 文章存档 */
.archive {
	max-width: 1100px;
	margin: 80px auto;
}
.archive > span {
	color: #C5C5BD;
	margin-right: 20px;
}

/* 关于 */
.about {
	max-width: 1100px;
	margin: 80px auto;
	text-align: center;
}
.about img {
	width: 92%;
}
@media (min-width: 768px) {
	.about img {
		width: 96%;
	}
}


