<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="Keywords" content="blog"/>
	<meta name="Description" content="blog"/>
	<title>AngularJS实现无限嵌套树形结构</title>
	<link rel="shortcut icon" href="favicon.ico"/>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.1.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="prism.css"/>
	<link rel="stylesheet" type="text/css" href="main.css"/>
	<script src="http://cdn.bootcss.com/jquery/1.7/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="prism.js"></script>
</head>
<body>
	<!-- 导航 -->
	<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom navbar-solid">
		<div class="container">
			<div class="navbar-header">
				<div class="site-brand">
					<a href="/" id="title"><img src="http://7xr2ee.com1.z0.glb.clouddn.com/image%2Flion-logo.png" alt="squarewen"></a>
				</div>

				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="navbar-items">
				<ul id="pages" class="nav navbar-nav navbar-right">
					<li><a href="/">首页</a></li>
					<li class="active"><a href="/#/archive">文章</a></li>
					<li><a href="/#/tags">分类</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
<!-- 文章 -->
<div id="main" class="main cnt-wrap"><div class="entry">

<!-- ↓正文内容↓ -->
<p>在层级结构数据展示中，树是一种极其常见的展现方式。比如系统中目录结构、企业组织结构、电子商务产品分类都是常见的树形结构数据。</p>
<p>这里我们采用更ng way来实现这类常见的tree view结构。</p>
<p>首先我们定义数据结构，采用以children属性来挂接子节点方式来展现树层次结构，示例如下：</p>
<pre><code class="language-javascript">
[
	{
		"id":"1",
		"pid":"0",
		"name":"家用电器",
		"children":[
			{
				"id":"4",
				"pid":"1",
				"name":"大家电"
			}
		]
	},
	{
		...
	}
	...
]
</code></pre>
<p>则我们对于ng way的tree view可以实现为：</p>
<p>JavaScript:</p>
<pre><code class="language-javascript">
	angular.module('ng.demo', []).directive('treeView',[function(){
		return {
			restrict: 'E',
			templateUrl: '/treeView.html',
			scope: {
				treeData: '=',
				canChecked: '=',
				textField: '@',
				itemClicked: '&',
				itemCheckedChanged: '&'
			},
			controller:['$scope', function($scope){
				$scope.itemExpended = function(item, $event){
					item.$$isExpend = ! item.$$isExpend;
					$event.stopPropagation();
				};
				$scope.isLeaf = function(item){
					return !item.children || !item.children.length; 
				};
				$scope.warpCallback = function(callback, item, $event){
					($scope[callback] || angular.noop)({
						$item:item,
						$event:$event
					});
				};
			}]
		};
</code></pre>
<p>HTML:</p>
<p>树内容主题HTML： <span class="hlt">/treeView.html</span></p>
<pre><code class="language-markup">
	&lt;ul class="tree-view">
		&lt;li ng-repeat="item in treeData" ng-include="'/treeItem.html'">&lt;/li>
	&lt;/ul>
</code></pre>
<p>每个item节点的HTML：<span class="hlt">/treeItem.html</span></p>

<pre><code class="language-markup">
	&lt;i ng-click="itemExpended(item, $event);" class="fa" ng-class="{'fa-minus': !isLeaf(item)&& item.$$isExpend, 'fa-plus': !isLeaf(item)&&!item.$$isExpend, 'fa-leaf': isLeaf(item)}">&lt;/i>

	&lt;input id="checkItem" type="checkbox" ng-model="item.$$isChecked" class="check-box" ng-if="canChecked" ng-change="warpCallback('itemCheckedChanged', item, $event)">

	&lt;span class='text-field' ng-click="warpCallback('itemClicked', item, $event);">&lt;/span>
	&lt;ul ng-if="!isLeaf(item)" ng-show="item.$$isExpend">
		&lt;li ng-repeat="item in item.children" ng-include="'/treeItem.html'">
		&lt;/li>
	&lt;/ul>
</code></pre>

<p>这里的技巧在于利用ng-include来加载子节点和数据，以及利用一个warpCallback方法来转接函数外部回调函数，利用<span class="hlt">angular.noop</span>的空对象模式来避免未注册的回调场景。</p>
<p>我们就可以如下方式来使用这个tree-view：</p>

<pre><code class="language-markup">
	&lt;tree-view tree-data="demo.tree" text-field="name" value-field='id' item-clicked="demo.itemClicked($item)" item-checked-changed="demo.itemCheckedChanged($item)" can-checked="true">
	&lt;/tree-view>
</code></pre>

<p>效果如下：</p>
<img src="http://7xr2ee.com1.z0.glb.clouddn.com/angularjs%2Fng-tree-view-sample.png" alt="treeview">
<br/>
<a href="http://jsbin.com/vefuqu/edit?html,js,output">在线实例</a>
<blockquote>
	<p>转至 <a href="http://greengerong.com/blog/2015/09/02/angularshi-xian-di-gui-zhi-ling-tree-view/?utm_source=tuicool&amp;utm_medium=referral">http://greengerong.com/blog/2015/09/02/angularshi-xian-di-gui-zhi-ling-tree-view/?utm_source=tuicool&amp;utm_medium=referral</a></p>
</blockquote>

<!-- ↑正文内容↑ -->
</div></div>

	<!-- 页脚 -->
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img src="http://7xr2ee.com1.z0.glb.clouddn.com/image%2Flion-gray.png" alt="squarewen">
					<p>Copyright <span>&copy;</span> 2016 Squarewen</p>
				</div>
			</div>
		</div>
	</footer>
<script src="main.js"></script>
<script id="content" type="text/mustache">
	<h1 class="tlt">{{title}}</h1>
	<div class="cate">
	{{date}}&nbsp;&nbsp;
	{{#tags}}
	<a href="/#/tag/{{name}}">{{name}}</a>
	{{/tags}}
	</div>
</script>
<script id="pagesTemplate" type="text/mustache">
	{{#pages}}
	<li>
		<a href="{{path}}">{{title}}</a>
	</li>
	{{/pages}}
</script>
<script>
$(document).ready(function() {
	$.ajax({
		url: "main.json",
		type: "GET",
		dataType: "json",
		success: function(data) {
			//$("#title").html(data.name);
			var pagesTemplate = Hogan.compile($("#pagesTemplate").html());
			var pagesHtml = pagesTemplate.render({"pages": data.pages});
			$("#pages").append(pagesHtml);
			//path
			var path = "nest-tree-view.html";
			//path end
			var now = 0;
			for (var i = 0; i < data.posts.length; ++i)
				if (path == data.posts[i].path)
					now = i;
			var post = data.posts[now];
			var tmp = post.tags.split(" ");
			var tags = [];
			for (var i = 0; i < tmp.length; ++i)
				if (tmp[i].length > 0)
					tags.push({"name": tmp[i]});
			var contentTemplate = Hogan.compile($("#content").html());
			var contentHtml = contentTemplate.render({"title": post.title, "tags": tags, "date": post.date});
			$("#main").prepend(contentHtml);
			if (data.disqus_shortname.length > 0) {
				var disqus_shortname = data.disqus_shortname;
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			}
		}
	});
});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ["\\(", "\\)"]], processEscapes: true}});
</script>
</body>
</html>
